*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

body{
    background-color: lightpink;
    height: 100vh;
}

.page-frame{
    width: 86%;
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    height: 100vh;
}

ol, p, ul{
    margin-bottom: 1em;
}

.brand-id{
    display: flex;
    flex-direction: column;
    /* width: max-content; */
    margin: 0 auto;
}

.brand-id img{
    max-width: 100%;
}

.nav-site ul li a:link, 
.nav-site ul li a:visited{
    color: blue;
    font-weight: bold;
}

a:link, 
a:visited{
    color: blue;
}

.nav-site{
    margin: 0 auto;
}

.nav-site ul{
    display: flex;
}

.nav-site ul li{
    margin: 2em;
}

.nav-control-board{
    margin: 2em;
}
